body{
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/bin.jpg);
	font-size:14px;
	color:#333;
}
img{ max-width:100%; height:auto; }
a{ color:#555; text-decoration:none;}
a:hover{ color:#333;}

.clr{
	display:block;
	clear:both;
}

div.wrapper{
	width:300px;
	margin:100px auto 0;
}	
div.boxLogin{
	padding:20px 0;
	margin:20px 10px 0;
	background:#ffffff;
	
	 box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
}

div.wrapper .inner{
	margin:0 20px;
}

.input{ 
	border:solid 1px #ccc; 
	background:#FEFEFE; 
	padding:8px 10px;
	color:#666;
	font-size:14px;
	width:210px;
	outline:none;
}

.input.error{
	border:solid 1px #f15a29;
}

.input:focus{
	background:#FFFAF2;
}

.button{
	background:#535251;
	color:#fff;
	font-size:14px;
	padding:5px 20px;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	margin:10px 2px 0 0;
}

.button:hover, .button:focus{
	background:#444;
}

span.error{  display:block; color:#f15a29; text-transform:uppercase; font-size:9px; padding:3px 0 0; }

div.message > div{ 
	font-size:10px; 
	text-transform:uppercase; 
	padding:12px 0; 
	text-align:center; 
	margin:10px -20px;
	overflow:hidden;

}
div.message > div.error{ background:#FFF0F0; }
div.message > div.success{ background:#E8F0FF; }